<div id="phone">
  <div id="handset">
  </div>
  <div id="phone-body">

    <div id="phone-body-top">
      <div id="phone-body-top-row0">
        Yealink
      </div>
      <div id="phone-body-top-row1">
        <div class="softkey-column">
          <div class="vertical-softkey"></div>
          <div class="vertical-softkey"></div>
          <div class="vertical-softkey"></div>
          <div class="vertical-softkey"></div>
          <div class="vertical-softkey"></div>
        </div>

        <div id="lcd-screen">
          <div class="lcd-dsskey">{{ this.dssKeys[0].getLabel() }}</div>
          <div class="lcd-dsskey">{{ this.dssKeys[5].getLabel() }}</div>
          <div class="lcd-dsskey">{{ this.dssKeys[1].getLabel() }}</div>
          <div class="lcd-dsskey">{{ this.dssKeys[6].getLabel() }}</div>
          <div class="lcd-dsskey">{{ this.dssKeys[2].getLabel() }}</div>

          <div class="lcd-dsskey">{{ this.dssKeys[7].getLabel() }}</div>
          <div class="lcd-dsskey">{{ this.dssKeys[3].getLabel() }}</div>
          <div class="lcd-dsskey">{{ this.dssKeys[8].getLabel() }}</div>
          <div class="lcd-dsskey">{{ this.dssKeys[4].getLabel() }}</div>
          <div class="lcd-dsskey">{{ this.dssKeys[9].getLabel() }}</div>


        </div>

        <div class="softkey-column">
          <div class="vertical-softkey"></div>
          <div class="vertical-softkey"></div>
          <div class="vertical-softkey"></div>
          <div class="vertical-softkey"></div>
          <div class="vertical-softkey"></div>
        </div>
      </div>

      <div id="phone-body-top-row2">
        <div class="lcd-softkey">key 1</div>
        <div class="lcd-softkey">key 2</div>
        <div class="lcd-softkey">key 3</div>
        <div class="lcd-softkey">key 4</div>
      </div>

      <div id="phone-body-top-row3">
        <div class="horizontal-softkey"></div>
        <div class="horizontal-softkey"></div>
        <div class="horizontal-softkey"></div>
        <div class="horizontal-softkey"></div>
      </div>
    </div>


    <div id="phone-body-bottom">

      <div id="phone-body-bottom-col1">
        <div id="dialpad">
          <div class="dialpad-button">1</div>
          <div class="dialpad-button">2</div>
          <div class="dialpad-button">3</div>
          <div class="dialpad-button">4</div>
          <div class="dialpad-button">5</div>
          <div class="dialpad-button">6</div>
          <div class="dialpad-button">7</div>
          <div class="dialpad-button">8</div>
          <div class="dialpad-button">9</div>
          <div class="dialpad-button">*</div>
          <div class="dialpad-button">0</div>
          <div class="dialpad-button">#</div>
        </div>
      </div>
      <div id="phone-body-bottom-col2">
        <div id="phone-joystick">
          <div class="small-round-button">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
          </div>
          <div id="joystick-middle-row">
            <div class="small-round-button">
              <i class="fa fa-caret-left" aria-hidden="true"></i>
            </div>
            <div class="small-round-button">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="small-round-button">
              <i class="fa fa-caret-right" aria-hidden="true"></i>
            </div>
          </div>
          <div class="small-round-button">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
        </div>
        <div class="small-round-button">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div id="volume-control-button">
          <i class="fa fa-minus" aria-hidden="true"></i>
          <i class="fa fa-plus" aria-hidden="true"></i>

        </div>

      </div>
      <div id="phone-body-bottom-col3">
        <div class="col2-button-row">
          <div class="big-round-button">
            <i class="fa fa-headphones" aria-hidden="true"></i>
          </div>
          <div class="big-round-button">
            <i class="fa fa-microphone-slash" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col2-button-row">
          <div class="big-square-button">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </div>
          <div class="big-square-button">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
        </div>

        <div class="col2-button-row">
          <div class="big-square-button">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </div>
          <div class="big-square-button">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
        </div>

        <div id="speaker-button">
          <i class="fa fa-volume-up" aria-hidden="true"></i>
        </div>
      </div>
    </div>


  </div>
</div>

