#phone {
  height:600px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
#handset {
  width: 20%;
  height: 100%;
  background-color: black;
  margin-right: 10px;
  border-radius: 20px;
}

#phone-body {
  height:100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px){
  #handset {
    display: none;
  }
  #phone {
    width:500px;
  }
}



#phone-body-top {
  width: 100%;
  height: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#phone-body-top-row0 {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

#phone-body-top-row1 {
  width: 100%;
  height: 70%;
  background-color: black;
  display: flex;
  flex-direction: row;
}

#phone-body-top-row2 {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(13, 64, 215);

}

#phone-body-top-row3 {
  width: 80%;
  height: 10%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#phone-body-bottom {
  width: 100%;
  height: 50%;
  background-color: rgba(18, 16, 17, 0.97);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
}

#phone-body-bottom-col1 {
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#phone-body-bottom-col2 {
  width: 27.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#phone-body-bottom-col3 {
  width: 27.5%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top:25px;
}


#lcd-screen {
  width: 80%;
  height: 100%;
  background-color: rgb(13, 64, 215);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.softkey-column {
  width: 10%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#lcd-screen-dss-section {

}

#lcd-screen-softkey-section {

}

.lcd-dsskey {

  width:49%;
  height:19%;
  background-color: rgb(2, 15, 107);
  color: white;
}

.lcd-softkey {

  width:24.5%;
  height:100%;
  background-color: rgb(2, 15, 107);
  color: white;

}


.vertical-softkey {
  width: 60%;
  height: 12px;
  background-color: rgb(55, 51, 53);
  border-radius: 5px;

}

.horizontal-softkey {
  width: 50px;
  height: 15px;
  background-color: rgb(55, 51, 53);
  border-radius: 5px;
}

#dialpad {
  width:70%;
  height:80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.dialplad-button {
  width:50px;
  height:40px;
  margin:5px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black;
  border-radius: 5px;
}

#phone-joystick {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

#volume-control-button {
  width:80%;
  height: 30px;
  background-color: black;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 50px;
}

.col2-button-row {
  width:50%;
  display: flex;
  justify-content: space-between;
}

.small-round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: gray;
  border-radius: 10px;
  width:20px;
  height:20px;
  margin:5px;
}

.big-round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: gray;
  border-radius: 15px;
  width:30px;
  height:30px;
  margin:5px;
}

.big-square-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: gray;
  border-radius: 3px;
  width:30px;
  height:30px;
  margin:5px;
}

#joystick-middle-row {
  display: flex;

}

#speaker-button {
  width : 50%;
  height : 30px;
  background-color: black;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 500px){
  #phone {
    width:100%;
  }
  .softkey-column {
    display: none;
  }
  #lcd-screen {
    width: 100%;
  }

}
